{{ define "main" }}
  {{ with .Content }}
    {{ . }}
  {{ end }}
  {{ partial "banner.html" . }}
  <section class="bg-c3">
    <div class="mr4 ml4 tc mws center white">
      <p class="f2 lh-solid pa3 ph0-l lh-solid pt4 mv0">Премьеры недели</p>
      <div class="f2 tc flex justify-center">
        {{ $days := slice "Mon" "Tue" "Wed" "Thu" "Fri" "Sat" "Sun" }}
        {{ $today := now.Format "Mon" }}
        {{ .Scratch.Set "pos" 0 }}
        {{ .Scratch.Set "done" false }}
        {{ range $days }}
          {{ if ne ($.Scratch.Get "done") true }}
            {{ if (ne . $today) }}
              {{ $.Scratch.Set "pos" (add ($.Scratch.Get "pos") 1) }}
            {{ else }}
              {{ $.Scratch.Set "done" true }}
            {{ end }}
          {{ end }}          
        {{ end }}
        {{ $monday := now.AddDate 0 0 (int (mul -1 (.Scratch.Get "pos"))) }}
        {{ $sunday := $monday.AddDate 0 0 6 }}
        {{ $prev_link := print (($monday.AddDate 0 0 -7).Format "02012006") }}
        {{ $next_link := print (($monday.AddDate 0 0 7).Format "02012006") }}
        {{ $cur_link := print ($monday.Format "02012006") }}
        {{ if fileExists (print "/content/schedule/"  $prev_link ".md") }}
          {{ $page := .GetPage (print "/schedule/"  $prev_link ".md") }}
          <p>
            <a href="{{ $page.Permalink }}" class="link mr4" id="left_page">
              <svg viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M10 6 L2 16 10 26 M2 16 L30 16" />
              </svg>
            </a>
          </p>
        {{ end }}
        <p class="date">{{ $monday.Format "2 Jan" }} - {{ $sunday.Format "2 Jan" }}</p>
        {{ if fileExists (print "/content/schedule/"  $next_link ".md") }}
          {{ $page := .GetPage (print "/schedule/"  $prev_link ".md") }}
          <p>
            <a href="{{ $page.Permalink }}" class="link ml4" id="right_page">
              <svg viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M22 6 L30 16 22 26 M30 16 L2 16" />
              </svg>
            </a>
          </p>
        {{ end }}
      </div>
    </div>
  </section>
  <section class="pb4 bg-c3">
    {{ $page := .GetPage (print "schedule/" $cur_link) }}
    {{ range (getJSON "data/schedule/" $page.Params.data_file) }}
      {{ partial "schedule" . }}
    {{ end }}
    <!-- <button class="pa3 white bn" style="background-color: #a31621">Подписаться</button> -->
  </section>
{{end}}