<!DOCTYPE html>
<html lang="en">
  <title> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/tachyons.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/colors.css">
  <body>
    <nav class="center mw8 bg-white">
      <div class="cf center bb bw1 b--light-gray pv3">
        <a class="link dim black b f3 tc db fl ph3" href="/" title="Home"> SS
          <!-- <img src="" alt="small screen"> -->
        </a>
        <div class="tc pv1">
          <a class="link dim mid-gray f6 f5-ns dib mr4" href="/" title="Home">Главная</a>
          <a class="link dim mid-gray f6 f5-ns dib mr4" href="/feature/" title="Feature">Статьи</a>
          <a class="link dim mid-gray f6 f5-ns dib mr4" href="/roundup/" title="Roundup">Раундапы</a>
          <a class="link dim cherry f6 f5-ns dib mr4" href="/roundup/" title="Roundup">Netflix</a>
          <a class="link dim mid-gray f6 f5-ns dib" href="/contacts/" title="Contact">Обратная связь</a>
        </div>
      </div>
    </nav>
