<section class="bg-c3">
  <form class="mw7 center pa4">
    <fieldset class="cf bn ma0 pa0">
      <legend class="mb3 lh-title">
        <p class="f3 f2-ns db white mv0">
          <span>Еженедельная рассылка</span>
        </p>
        <span class="light-gray">Дайджест недели и эксклюзивные материалы только для подписчиков</span>
      </legend>
      <div class="cf">
        <label class="clip" for="email-address">Email Address</label>
        <input class="f6 f5-l input-reset fl bg-c1 pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns ba b--c2" placeholder="Ваш email" type="text" name="email-address" value="" id="email-address">
        <input class="f6 f5-l button-reset fl pv3 tc ba bw0 b--c2 white bg-c2 tracked pointer w-100 w-25-m w-20-l br2-ns br--right-ns" type="submit" value="Подписаться">
      </div>
    </fieldset>
  </form>
</section>